.sidebarItem{
    list-style-type: none; 
}

.proSideBar{
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.button{
    height: 100%;
    width: 3rem;
    background-color: #1d1d1d;
    border: none;
}

.button:hover{
    background-color: #3b3b3b;
}
