.elements{
    margin: 2% 1%;
    width: auto;
}

.containerMain{
    margin: 0px 5%;
    width: 90%;
}

.cards{
    text-align: -webkit-center;
}

.card{
    height: 100%;
}

.box{
    padding: 2%;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 2%;
}